.card {
    border-radius: 10px;
    background-color: lightgrey
}

.search-list {
    border-radius: 15px;
    background-color:white;
    font-family: 'IM Fell Great Primer SC', serif;
}

.saveBook {
    border-radius: 5px;
    margin-left: 10px
}

.viewBook {
    border-radius: 5px;
    margin-left: 5px
}